<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<!-- For Title -->
	<title><ui:insert name="title">Finance App</ui:insert></title>
	<h:outputStylesheet library="css" name="global.css" />
</h:head>
<h:body>

	<h:form>
		<p:menubar>
			<p:menuitem value="&#128506;Home"
				action="#{dispatcher.getPage('home')}" style="margin: 4px 6px 0;"
				ajax="false" />

			<p:menuitem value="&#128200;Investment"
				action="#{dispatcher.getPage('investmentHome')}"
				style="margin: 4px 6px 0;" ajax="false" />

			<p:menuitem value="&#128201;Property Bond"
				action="#{dispatcher.getPage('propertyBondHome')}"
				style="margin: 4px 6px 0;" ajax="false" />

			<p:menuitem value="&#128449;Open Forecasts"
				action="#{dispatcher.getPage('loadForecastHome')}"
				style="margin: 4px 6px 0;" ajax="false" />
		</p:menubar>
	</h:form>

	<!-- Content Section -->
	<ui:insert name="content">The Finance App</ui:insert>
</h:body>
</html>