<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">Open Forecasts</ui:define>
	<ui:define name="content">

		<p:panelGrid styleClass="ui-noborder">

			<h:form>
			
				<p:row>
					<p:column colspan="3">
						<div style="margin-bottom: 1.2em;">
							<p:outputLabel styleClass="input-form-header">Open Forecasts</p:outputLabel>
						</div>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="customerNum" value="Customer Number " />
						<p:inputNumber id="customerNum" value="#{customer.customerNum}"
							decimalPlaces="0" />
					</p:column>
					<p:column>
						<p:commandButton value="Open Forecasts"
							action="#{dispatcher.getPage('forecastList')}" ajax="false" />
					</p:column>
				</p:row>
				
			</h:form>

		</p:panelGrid>

	</ui:define>
</ui:composition>

</html>