<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">Finance App</ui:define>
	<ui:define name="content">
		<h:form>
			<p:panelGrid columns="1" styleClass="ui-noborder">
				<p:commandButton value="Investment"
					action="#{dispatcher.getPage('investmentHome')}" />
				<p:commandButton value="Property Bond"
					action="#{dispatcher.getPage('propertyBondHome')}" />
				<p:commandButton value="Load Forecast"
					action="#{dispatcher.getPage('loadForecastInput')}" />
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>