<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">Investment Form</ui:define>
	<ui:define name="content">
		<h:form id="investmentForm">

			<p:panelGrid styleClass="ui-noborder">
				<p:row>
					<p:column colspan="3">
						<div style="margin-bottom: 1.2em;">
							<p:outputLabel styleClass="input-form-header">Initial Investment Information</p:outputLabel>
						</div>
					</p:column>
				</p:row>

				<!-- Principal -->
				<p:row>
					<p:column>Principal (R)</p:column>
					<p:column>
						<p:inputNumber id="principal" value="#{investmentData.principal}"
							decimalSeparator="." decimalPlaces="2" thousandSeparator=","
							placeholder="0.00" minValue="0"
							validator="#{investmentValidator.validatePrincipal}">
							<f:converter
								converterId="com.psybergate.web.converter.MoneyConverter" />
						</p:inputNumber>
						<p:column>
							<p:message id="principalMessage" for="principal" />
						</p:column>
					</p:column>
				</p:row>

				<!-- Rate -->
				<p:row>
					<p:column>Interest Rate (%)</p:column>
					<p:column>
						<p:inputNumber id="interest"
							value="#{investmentData.interestRate}" decimalPlaces="2"
							placeholder="0.00" minValue="0"
							validator="#{investmentValidator.validateInterestRate}">
						</p:inputNumber>
					</p:column>
					<p:column>
						<p:message for="interest" />
					</p:column>
				</p:row>

				<!-- Term -->
				<p:row>
					<p:column>Term (Months)</p:column>
					<p:column>
						<p:inputNumber id="term" value="#{investmentData.term}"
							decimalPlaces="0" placeholder="1" minValue="1"
							validator="#{investmentValidator.validateTerm}">
						</p:inputNumber>
					</p:column>
					<p:column>
						<p:message for="term" />
					</p:column>
				</p:row>

				<!-- Contribution -->
				<p:row>
					<p:column>
			                Monthly Contribution (R)
		            	</p:column>
					<p:column>
						<p:inputNumber id="monthlyContribution"
							value="#{investmentData.monthlyContribution}" decimalPlaces="2"
							decimalSeparator="." thousandSeparator="," placeholder="0.00"
							minValue="0"
							validator="#{investmentValidator.validateMonthlyContribution}">
							<f:converter
								converterId="com.psybergate.web.converter.MoneyConverter" />
						</p:inputNumber>
					</p:column>
					<p:column>
						<p:message for="monthlyContribution" display="anything" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<div style="margin-top: 1.1em;">
							<p:commandButton value="Calculate forecast" id="Calculate"
								action="/faces/dependencies/investment/forecast" update="@form">
							</p:commandButton>
						</div>
					</p:column>
					<p:column>
						<div style="margin-top: 1.1em;">
							<p:ajaxStatus style="display: block;">
								<f:facet name="start">
									<p:graphicImage library="img" name="38x38/status-icon.svg" />
								</f:facet>
							</p:ajaxStatus>
						</div>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>


	</ui:define>
</ui:composition>

</html>