<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">propertyBond Forecast</ui:define>

	<ui:define name="content">
		#{propertyBondController.generateForecast()}
		<p:dialog header="Event" widgetVar="events-dialogue" minHeight="40"
			visible="#{!propertyBondEventValidator.valid}">

			<h:form id="propertyBondEventForm">
				<p:inputNumber id="event" rendered="false"></p:inputNumber>
				<p:message for="event" />
				<p:panelGrid columns="2">
					<b>Month: </b>
					<h:panelGroup>
						<div>
							<p:inputNumber id="month" value="#{eventModel.month}"
								minValue="0" decimalPlaces="0" />
							<p:message for="month" />
						</div>
					</h:panelGroup>

					<b>Change Monthly Repayment: </b>
					<h:panelGroup>
						<div>
							<p:inputNumber id="monthlyAmount"
								value="#{eventModel.monthlyAmount}">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyConverter" />
							</p:inputNumber>
							<p:message for="monthlyAmount" />
						</div>
					</h:panelGroup>
					<b>Change Interest Rate: </b>
					<h:panelGroup>
						<div>
							<p:inputNumber id="interestRate"
								value="#{eventModel.interestRate}" decimalPlaces="2"
								decimalSeparator="." />
							<p:message for="interestRate" />
						</div>
					</h:panelGroup>
					<b>Additional Transaction: </b>
					<h:panelGroup>
						<div>
							<p:selectOneMenu id="transactionType"
								value="#{eventModel.transactionType}">
								<f:selectItems value="#{eventModel.transactionOptions}" />
							</p:selectOneMenu>
							<p:inputNumber id="amount" value="#{eventModel.amount}"
								minValue="0">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyConverter" />
							</p:inputNumber>
							<p:message for="amount" />
						</div>
					</h:panelGroup>
				</p:panelGrid>
				<hr />
				<p:commandButton value="Add" ajax="false"
					action="#{propertyBondController.addEvent()}">
				</p:commandButton>
			</h:form>
		</p:dialog>

		<!-- Persistence -->
		<p:dialog header="Save Forecast" widgetVar="save-dialogue"
			minHeight="40" closeOnEscape="true">
			<h:form>
				<p:panelGrid columns="2">
					<b>Customer Number: </b>
					<h:panelGroup>
						<div>
							<p:inputNumber id="customerNum" minValue="0" decimalPlaces="0"
								placeholder="0" value="#{forecastInfo.customerNum}">
								<f:convertNumber type="number" groupingUsed="true"
									minFractionDigits="2" pattern="#0.00" />
							</p:inputNumber>
							<p:message id="saveCustomerNum" for="customerNum" />
						</div>
					</h:panelGroup>

					<b>Customer Name: </b>
					<h:panelGroup>
						<div>
							<p:inputText id="customerName"
								value="#{forecastInfo.customerName}" />
							<p:message id="saveCustomerName" for="customerName" />
						</div>
					</h:panelGroup>

					<b>Forecast Name: </b>
					<h:panelGroup>
						<div>
							<p:inputText id="forecastName"
								value="#{forecastInfo.forecastName}" />
							<p:message id="saveForecastName" for="forecastName" />
						</div>
					</h:panelGroup>

				</p:panelGrid>
				<hr />
				<p:commandButton value="Save Forecast"
					action="#{propertyBondController.savePropertyBond()}">
				</p:commandButton>
			</h:form>
		</p:dialog>

		<!-- Summary Content -->
		<p:tabView>

			<p:tab title="Forecast Table">
				<h:form>
					<!-- Table Content -->
					<p:dataTable id="forecast-table" var="entry"
						value="#{propertyBondViewModel.forecast}" scrollable="true"
						resizableColumns="true" scrollHeight="512"
						style="font-size:1.15em; border: 1pt solid #d4d4d4;">

						<f:facet name="header">

							<!-- Table Summary -->
							<p:panel header="Property Bond Summary" toggleable="true"
								collapsed="true" toggleSpeed="500" closeSpeed="500"
								widgetVar="summary-panel" style="border-style: none;">

								<!-- Summary Content -->
								<p:panelGrid style="width: 30em; margin: 0 auto;">
									<p:row>
										<p:column>
											<h:outputText value="Term" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.term}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column colspan="2"
											style="text-align: center; background-color: #f5f5f5;">
											<h:outputText value="Repayments (R)" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Principal" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.principal}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Interest Amount" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.totalInterest}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText escape="false" value="Avg. Monthly Repayment" />
										</p:column>
										<p:column style="text-align: right;">
											<p:importConstants type="java.math.RoundingMode"
												var="RoundingMode" />
											<h:outputText
												value="#{propertyBondViewModel.totalRepayment.amount
															.divide(
																propertyBondLineVisualisation
																.getPrincipalTermAsBigDecimal(propertyBondViewModel),
																2,
																RoundingMode.HALF_UP	
															
															)
														}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Repayment" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.totalRepayment}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

								</p:panelGrid>

							</p:panel>

							<h:panelGroup style="display: block; text-align: left;">
								<p:commandButton id="add-event"
									onclick="PF('events-dialogue').show();" value="&#128197;Event"
									style="margin-left: 4px;" />
								<p:commandButton id="save-as-pdf" ajax="false"
									value="&#128190;PDF" style="margin-left: 4px;">
									<p:dataExporter type="pdf" target="forecast-table"
										fileName="property-bond-forecast" />
								</p:commandButton>
								<p:commandButton value="🌍Save" type="button"
									onclick="PF('save-dialogue').show();" style="margin-left: 4px;" />
							</h:panelGroup>
						</f:facet>

						<!-- Month -->
						<p:column headerText="Month" class="forecast-time-column">
							<h:outputText value="#{entry.month}"
								style="font-family: monospace;" />
						</p:column>

						<!-- Balance -->
						<p:column headerText="Opening Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.openingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Contribution -->
						<p:column headerText="Monthly Repayment (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.monthlyAmount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Deposit -->
						<p:column headerText="Deposit / Withdrawal (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.amount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Rate -->
						<p:column headerText="Interest Rate (%)"
							class="forecast-ration-column">
							<h:outputText value="#{entry.interestRate}"
								style="font-family: monospace;">
								<f:convertNumber type="number" groupingUsed="true"
									minFractionDigits="2" pattern="#0.00" />
							</h:outputText>
						</p:column>

						<!-- Interest -->
						<p:column headerText="Interest Amount (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.interest}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Balance -->
						<p:column headerText="Closing Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.closingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:form>

			</p:tab>

			<p:tab title="Forecast Graph">
				<p:chart type="line"
					model="#{propertyBondLineVisualisation.getModel(propertyBondViewModel)}"
					style="height:512px;" />
			</p:tab>

		</p:tabView>

	</ui:define>
</ui:composition>

</html>